 .head{
  position: relative;
  text-align: center;
  color: rgb(149, 199, 116);
  
} 
.headcnt{
    position: absolute; 
    top: 50%;
    left: 50%; 
    line-height: 2; 
    transform: translate(-50%, -50%);
}
.imge{
  height: 350px;
}
.nav-link:hover {
  color:  #3fd0d4;
  background:  #afafaf;
  padding-left: 2.25rem;
}
.nav-link.active{
  color:  #3fd0d4;
  background:  #afafaf;
  padding-left: 2.25rem;
}
.pcnt{
  font-family: "Poppins","Lato", sans-serif;
}
.plcimg{ 
  height: 200px;
  box-shadow: 4px 4px 4px; 
  margin-right: 50px;
  margin-bottom: 50px;
 }
 .glry{
  display: inline-block;
   width: 300px;
   height: 200px;
 }
 .tle{  
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
  }
  input::placeholder {
    font-weight: lighter;
    opacity: 0.4;
    color: rgb(54, 49, 49);
    font-size: smaller;
  }
  .searchbtn{
    padding: 5px 20px;
    border :2px solid green;
    border-radius: 0px 20px 20px 0px;
    color: white;
    background-color: green;
    transition: all .6s linear;
  }
  .searchbtn:hover{
    background-color: white;
    color: black;
  }
  .searchinput{ 
    padding:17px 20px 8px 20px;
    border: 2px solid green;
    border-radius: 20px 0px 0px 20px;
  }
  input[type="text"] {
    height: 100%; 
    font-size:20px;
    font-weight:normal;
 }