 .head{
  position: relative;
  text-align: center;
  color: rgb(149, 199, 116);
  
} 
.headcnt{
    position: absolute; 
    top: 50%;
    left: 50%; 
    line-height: 2; 
    transform: translate(-50%, -50%);
}
.imge{
  height: 350px;
}
.nav-link:hover {
  color:  #3fd0d4;
  background:  #afafaf;
  padding-left: 2.25rem;
}
.nav-link.active{
  color:  #3fd0d4;
  background:  #afafaf;
  padding-left: 2.25rem;
}
.pcnt{
  font-family: "Poppins","Lato", sans-serif;
}
.plcimg{ 
  height: 200px;
  box-shadow: 4px 4px 4px; 
  margin-right: 50px;
  margin-bottom: 50px;
 }
 .glry{
  display: inline-block;
   width: 300px;
   height: 200px;
 }
 .tle{  
    text-transform: uppercase;
    font-size: 2.6rem;
    letter-spacing: 0.4rem;
  }
  input::placeholder {
    font-weight: lighter;
    opacity: 0.4;
    color: rgb(54, 49, 49);
    font-size: smaller;
  }
  .searchbtn{
    padding: 5px 20px;
    border :2px solid green;
    border-radius: 0px 20px 20px 0px;
    color: white;
    background-color: green;
    transition: all .6s linear;
  }
  .searchbtn:hover{
    background-color: white;
    color: black;
  }
  .searchinput{ 
    padding:17px 20px 8px 20px;
    border: 2px solid green;
    border-radius: 20px 0px 0px 20px;
  }
  input[type="text"] {
    height: 100%; 
    font-size:20px;
    font-weight:normal;
 }

 .loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
 }
 
 .loader:before {
  animation: before8 2s infinite;
 }
 
 .loader:after {
  animation: after6 2s infinite;
 }
 
 @keyframes before8 {
  0% {
   width: 0.5em;
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  35% {
   width: 2.5em;
   box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
 
  70% {
   width: 0.5em;
   box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  100% {
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 }
 
 @keyframes after6 {
  0% {
   height: 0.5em;
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 
  35% {
   height: 2.5em;
   box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
 
  70% {
   height: 0.5em;
   box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
 
  100% {
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 }
 
 .loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em); 
 }

 .spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(0,77,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }
 .amnts{
  background-color: #ccdcd9;
  box-shadow:gray 2px 2px 2px 1px;
 }