
.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .ig{ 
    margin-left: 10px;
    width:97%;
    height: 600px; 
  }
  #ig2{ 
    margin-left: 10px;
    width: 97%;
    height: 600px; 
  }
   
  .Auth-form {
    width: 90%;  
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px; 
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 6%;
    padding-right: 6%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  #tit{
    text-align: center;
    color: rgb(194, 147, 7); 
    text-transform: uppercase;  
  }
  #tit2{
    text-align: center;
    color: rgb(194, 147, 7); 
    text-transform: uppercase;  
  }